{% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <a class="navbar-brand" href="{% url 'mainpage:mainpage' %}">
            <img src="https://toys-on-rent.com/images/tor_logo_home_main.gif" alt=""  style="width: 150px; height: 50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'item:item' %}">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'barang:index' %}">Barang</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#pesanan">Pesanan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pengiriman:kirim_list' %}">Pengiriman</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#level">Level</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat:index' %}">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profil:profil' %}">Profil</a>
                </li>
            </ul>
        </div>
    </nav>