{% extends 'layout/base.html' %}

{% block css %}
<style>
    .judul{
        margin-top: 50px;
        font-size: 40px;
    }
    #create-barang{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .table{
        border-radius: 5px;
        width: 70%;
        margin: 0px auto;
        float: none;
        text-align: center;
    }
    #text-bold{
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<body>

<div class="container" style="text-align: center;">
    <h class="judul">Daftar Barang</h>
</div>
<div id="create-barang">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Barang</button>
</div>

<!-- Modal CREATE -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">form penambahan barang</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Id Barang</label>
                        <div class="col-sm-10">
                            <input name="id_barang" class="form-control" type="text" placeholder="Id Barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="namaBarang" class="col-sm-2 col-form-label">Nama Item</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputKategori" name="nama_item">
                                {% for ii in daftar_item %}
                                    <option>{{ ii.nama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Warna</label>
                        <div class="col-sm-10">
                            <input name="warna" class="form-control" type="text" placeholder="Masukkan warna barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Url Foto</label>
                        <div class="col-sm-10">
                            <input name="url_foto" class="form-control" type="text" placeholder="Masukkan url foto barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Kondisi</label>
                        <div class="col-sm-10">
                            <input name="kondisi" class="form-control" type="text" placeholder="Masukkan kondisi barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Lama penggunaan</label>
                        <div class="col-sm-10">
                            <input name="lama_penggunaan" class="form-control" type="text" placeholder="Masukkan lama penggunaan">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="namaBarang" class="col-sm-2 col-form-label">Pemilik/ penyewa</label>
                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Anto</option>
                                <option>Budi</option>
                                <option>Nana</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p id="tex-bold">Info Barang</p>
                        <p>+Bronze</p>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Personal royalty:</label>
                            <div class="col-sm-4">
                                <input name="personal_royalty_1" id="text-bold" type="text" class="form-control">
                            </div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Harga sewa:</label>
                            <div class="col-sm-4">
                                <input name="harga_sewa_1" id="text-bold" type="text" class="form-control">
                            </div>
                        </div>
                        <p>+Silver</p>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Personal royalty:</label>
                            <div class="col-sm-4">
                                <input name="personal_royalty_2" id="text-bold" type="text" class="form-control">
                            </div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Harga sewa:</label>
                            <div class="col-sm-4">
                                <input name="harga_sewa_2" id="text-bold" type="text" class="form-control">
                            </div>
                        </div>
                        <p>+Gold</p>
                        <div class="form-group row">
                            <label for="gold" class="col-sm-2 col-form-label">Personal royalty:</label>
                            <div class="col-sm-4">
                                <input name="personal_royalty_3" id="text-bold" type="text" class="form-control">
                            </div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Harga sewa:</label>
                            <div class="col-sm-4">
                                <input name="harga_sewa_3" id="text-bold" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<container>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="text-align: center;">Id barang</th>
            <th scope="col" style="text-align: center;">Nama Item</th>
            <th scope="col" style="text-align: center;">Warna</th>
            <th scope="col" style="text-align: center;">Kondisi</th>
            <th scope="col" style="text-align: center;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sepeda</td>
            <td>Biru</td>
            <td>Tersedia</td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetail"><a href="/barang/ulasan_barang">Detail</a></button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Pesawat pribadi</td>
            <td>Putih</td>
            <td>Tidak tersedia</td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetail"><a href="/barang/ulasan_barang">Detail</a></button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Becak</td>
            <td>Hijau</td>
            <td>Tersedia</td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetail"><a href="/barang/ulasan_barang">Detail</a></button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalUpdate">Update</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</container>

<!-- Modal Update -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">Form Update Barang</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Id Barang</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Id Barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Warna</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Masukkan warna barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Url Foto</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Masukkan url foto barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Kondisi</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Masukkan kondisi barang">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-2 col-form-label">Lama penggunaan</label>
                        <div class="col-sm-10">
                            <p>1(bulan)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idBarang" class="col-sm-3 col-form-label">Pemilik/ penyewa</label>
                        <div class="col-sm-9">
                            <p>Prince</p>
                        </div>
                    </div>

                    <div>
                        <p style="font-weight: bold;">Info Barang</p>
                        <p>+Bronze</p>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Personal royalty:</label>
                            <div class="col-sm-4">
                                <p>5 (%)</p>
                            </div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Harga sewa:</label>
                            <div class="col-sm-4">
                                30.000 (Rupiah/minggu)
                            </div>
                        </div>
                        <p>+Silver</p>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Personal royalty:</label>
                            <div class="col-sm-4">
                                <p>10 (%)</p>
                            </div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Harga sewa:</label>
                            <div class="col-sm-4">
                                 25.000 (Rupiah/minggu)
                            </div>
                        </div>
                        <p>+Gold</p>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Personal royalty:</label>
                            <div class="col-sm-4">
                                <p>15 (%)</p>
                            </div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Harga sewa:</label>
                            <div class="col-sm-4">
                                 20.000 (Rupiah/minggu)
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}