{% extends 'layout/base.html' %}

{% block css %}
<style>      
  body {font-family: Arial, Helvetica, sans-serif;}

  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }

  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }

  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  hr { 
    border-width: 5px;
  } 
  /*{#==================================================#}*/   
</style>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#mytable').DataTable( {
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal( {
                        header: function ( row ) {
                            var data = row.data();
                            return 'Details for '+data[0]+' '+data[1];
                        }
                    } ),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                        tableClass: 'table'
                    } )
                }
            }   
        } );
        $('select').selectpicker();
    } );            
</script>
{% endblock %}

{% block content %}
<body>
    <h1 class="text-center">Pengiriman</h1>

    <div class="text-center">
        <a href="" class="btn btn-success" data-toggle="modal" data-target="#modalContactForm">Buat Pengiriman</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-striped table-bordered nowrap" style="width:100%">
                    <thead>                        
                        <th>ID Pengiriman</th>
                        <th>Daftar Barang - ID Pemesanan</th>
                        <th>Harga Total</th>
                        <th>Tanggal Pengiriman</th>
                        <th>Ubah</th>                            
                        <th>Hapus</th>
                        <th>Beri Ulasan</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <ul>
                                    <li>A-1</li>
                                    <li>A-2</li>
                                </ul>
                            </td>
                            <td>Rp.100</td>
                            <td>20 April 2019</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Ubah"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Ubah<span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Hapus"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >Hapus<span class="glyphicon glyphicon-trash"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Ulasan"><button class="btn btn-secondary btn-xs" data-title="Review" data-toggle="modal" data-target="#review" >Ulas<span class="glyphicon glyphicon-star"></span></button></p></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <ul>
                                    <li>A-1</li>
                                    <li>A-2</li>
                                </ul>
                            </td>
                            <td>Rp.100</td>
                            <td>21 April 2019</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Ubah"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Ubah<span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Hapus"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >Hapus<span class="glyphicon glyphicon-trash"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Ulasan"><button class="btn btn-secondary btn-xs" data-title="Review" data-toggle="modal" data-target="#review" >Ulas<span class="glyphicon glyphicon-star"></span></button></p></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <ul>
                                    <li>A-1</li>
                                    <li>A-2</li>
                                </ul>
                            </td>
                            <td>Rp.100</td>
                            <td>22 April 2019</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Ubah"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >Ubah<span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Hapus"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >Hapus<span class="glyphicon glyphicon-trash"></span></button></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Ulasan"><button class="btn btn-secondary btn-xs" data-title="Review" data-toggle="modal" data-target="#review" >Ulas<span class="glyphicon glyphicon-star"></span></button></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Ubah Pengiriman</h4>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <select class="selectpicker" multiple data-live-search="true"></select>
                        <label data-error="wrong" data-success="right">Barang Pesanan</label>
                    </div>

                    <div class="md-form mb-5">
                        <select class="selectpicker" multiple data-live-search="true"></select>
                        <label data-error="wrong" data-success="right">Alamat Tujuan</label>
                    </div>

                    <div class="md-form mb-5">
                        <input id="datepicker" width="276" />
                        <label data-error="wrong" data-success="right">Tanggal Pengiriman</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                        <label data-error="wrong" data-success="right" for="form8">Metode</label>
                    </div>

                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title custom_align" id="Heading">Hapus pengiriman</h4>
                </div>
                <div class="modal-body">            
                    <div class="alert alert-danger"></span> Hapus rekaman pengiriman ini?</div>
                    </div>
                    <div class="modal-footer ">
                    <button type="button" class="btn btn-success" >Ya</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Buat Pengiriman</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <select class="selectpicker" multiple data-live-search="true"></select>
                        <label data-error="wrong" data-success="right">Barang Pesanan</label>
                    </div>

                    <div class="md-form mb-5">
                        <select class="selectpicker" multiple data-live-search="true"></select>
                        <label data-error="wrong" data-success="right">Alamat Tujuan</label>
                    </div>

                    <div class="md-form mb-5">
                        <input id="datepicker" width="276" />
                        <label data-error="wrong" data-success="right">Tanggal Pengiriman</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                        <label data-error="wrong" data-success="right" for="form8">Metode</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-success btn-md">Simpan<i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}