{% extends 'layout/base.html' %}

{% block css %}
<style>
    body{
        background-image: url("https://www.thebalancecareers.com/thmb/gRT3S9WVI4HEFF4NNyx2KymWtBw=/2000x1335/filters:fill(auto,1)/call_center-549596335-589a79fd3df78caebcbf2e5f.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .jumbotron{
        margin-top: 100px;
    }

    .inner-chat-box{
        border-radius: 24px;
    }

    #judul{
        font-size : large;
    }

    .chat-box{
        min-height : 300px;
        background-color: #fefefe;
        margin: 20px 30px;
    }

    .bubble-chat{
        margin: 10px;
    }

    #admin{
        font-size: 14px;
    }

    #user{
        font-size: 14px;
    }

    .chat-form{
        margin: 0px 10px 50px 10px;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #4CAF50;
      color: white;
    }
</style>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="inner-chat-box">
                <div  class="text-center">
                    <h id="judul">CHAT</h>
                </div>

                <div class="chat-box">
                    <div class = "bubble-chat">
                        <p id="admin">Admin : Halo ! Ada yang bisa kami bantu?</p>
                        <p id="user">You   : Halo, tidak ada. Terimakasih</p>
                        <p id="admin">Admin : Baik, terimakasih</p>
                    </div>
                </div>

                <div class="chat-form">
                    <form>
                      <div class="form-group col-sm-11">
                        <input class="form-control" type="text" placeholder="Tulis pesan kamu disini...">
                      </div>
                      <button type="submit" class="btn btn-primary col-sm-1">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}