{% extends 'layout/base.html' %}

{% block css %}
<style>
	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  margin: auto;
	  text-align: center;
	  font-family: arial;
	}

	.title {
	  color: grey;
	  font-size: 18px;
	}

	button {
	  border: none;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: #000;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}

	a {
	  text-decoration: none;
	  font-size: 22px;
	  color: black;
	}

	button:hover, a:hover {
	  opacity: 0.7;
	}
</style>
{% endblock %}

{% block content %}
<body>
	<h2 style="text-align:center">Profil</h2>
	<div class="card">
		<img src="/w3images/team2.jpg" alt="John" style="width:100%">
		<h1>Nama Lengkap</h1>
		<p class="title">3309060906xxxxxx</p>
		<p>email@email.com</p>
		<p>+6285702694xxx</p>
		<p>31 Februari 2000,5</p>
		<div style="margin: 24px 0;">
		    <a href="#"><i class="fa fa-dribbble"></i></a> 
		    <a href="#"><i class="fa fa-twitter"></i></a>  
		    <a href="#"><i class="fa fa-linkedin"></i></a>  
		    <a href="#"><i class="fa fa-facebook"></i></a> 
	  	</div>
	  	<!-- <p><button>Contact</button></p> -->
	</div>
</body>
{% endblock %}