{% extends 'layout/base.html' %}

{% block css %}
<style>
    #hov span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    #hov span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    #hov:hover span {
      padding-right: 25px;
    }

    #hov:hover span:after {
      opacity: 1;
      right: 0;
    }
</style>
{% endblock %}

{% block content %}
<body>
	<div class="container">
        <div style="text-align: center;">
    	    <h1>Daftar Item</h1>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#add-item">Tambah Item</button>
            <br><br>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th>Nama Item</th>
                <th>Kategori</th>
                <th>Action[Semua User]</th>
                <th>Action[Semua Admin]</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>John</td>
                <td>Doe</td>
                <td>
                    <button class="button" id="hov" style="vertical-align:middle"><span>Detail </span></button>
                </td>
                <td>
                    <button class="button" style="vertical-align:middle" data-toggle="modal" data-target="#update"><span>Update </span></button>
                    <button class="button" style="vertical-align:middle"><span>Delete </span></button>
                    <button class="button" style="vertical-align:middle"><span>Tambah Barang</span></button>
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Mary</td>
                <td>Moe</td>
                <td>
                    <button class="button" id="hov" style="vertical-align:middle"><span>Detail </span></button>
                </td>
                <td>
                    <button class="button" style="vertical-align:middle" data-toggle="modal" data-target="#update"><span>Update </span></button>
                    <button class="button" style="vertical-align:middle"><span>Delete </span></button>
                    <button class="button" style="vertical-align:middle"><span>Tambah Barang</span></button>
                </td>
            </tr>
            <tr>
                <td>3.</td>
                <td>July</td>
                <td>Dooley</td>
                <td>
                    <button class="button" id="hov" style="vertical-align:middle"><span>Detail </span></button>
                </td>
                <td>
                    <button class="button" style="vertical-align:middle" data-toggle="modal" data-target="#update"><span>Update </span></button>
                    <button class="button" style="vertical-align:middle"><span>Delete </span></button>
                    <button class="button" style="vertical-align:middle"><span>Tambah Barang</span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal TAMBAH BARANG -->
    <div class="modal fade" id="add-item" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Nama">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="idBarang" class="col-sm-2 col-form-label">Deskripsi</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" type="text" placeholder="Deskripsi.."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usia" class="col-sm-2 col-form-label">Rentang Usia</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" id="usia" name="usia" min="1" max="10">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bahan" class="col-sm-2 col-form-label">Bahan</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Bahan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kategori" class="col-sm-2 col-form-label">Kategori</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Kategori">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal UPDATE -->
    <div class="modal fade" id="update" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Nama">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="idBarang" class="col-sm-2 col-form-label">Deskripsi</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" type="text" placeholder="Deskripsi.."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="usia" class="col-sm-2 col-form-label">Rentang Usia</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="number" id="usia" name="usia" min="1" max="10">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bahan" class="col-sm-2 col-form-label">Bahan</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Bahan">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kategori" class="col-sm-2 col-form-label">Kategori</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" placeholder="Kategori">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</body>
{% endblock %}