{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/source.html" %}
        {% block css %}
            <!-- isi css -->
        {% endblock %}

        {% block js %}
            <!-- isi js -->
        {% endblock %}

        <style type="text/css">
            .footer {
                position: fixed;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 1rem;
                text-align: center;
                color: white;
            }
        </style>
</head>

<header>
    {% include "partials/header.html" %}
</header>

<body>
    <content>
        {% block content %}
            <!-- isi konten -->
        {% endblock %}
    </content>
</body>

<footer class="footer" style="font-size: 14px">
    {% include "partials/footer.html" %}
</footer>

</html>
