{% extends 'layout/base.html' %}

{% block title %}
<title>ToysRent</title>
{% endblock %}
    
{% block css %}
    <style>
        /*
        {#==================================================#} */

        /*
        {#==================================================#} */

        .jumbotron {
            background-image: url("https://i.pinimg.com/originals/c8/78/3d/c8783d41c27b9a278044c444a8b43365.jpg");
            background-repeat: no-repeat;
            color: white;
            height: 70vh;
            background-size: cover;
            background-position: center;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /*
        {#==================================================#}


        {#css date in form #} */
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        input {
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            background-color: #fff;
            padding: 3px 5px;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
            width: 190px;
        }

        /* Set a style for all buttons */
        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button (x) */
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }

            .cancelbtn {
                width: 100%;
            }
        }

        hr {
            border-width: 5px;
        }

        /*
        {#==================================================#} */
    </style>
{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="jumbotron"><br>
        <h1 class="hd1">TOYS RENT!</h1>
        <p class="lead hd1">Lorem ipsum dolor Lorem ipsum dolor</p>
        <hr class="my-lg-5">
        <p class="hd1">Selamat Datang.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" onclick="document.getElementById('register').style.display='block'"
               role="button">Register</a>
            <a class="btn btn-success btn-lg" onclick="document.getElementById('login').style.display='block'"
               role="button">Login</a>
        </p>
    </div>
</div>

<div id="login" class="modal">

    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
            <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <label for="no_ktp"><b>Nomor KTP</b></label>
            <input type="text" placeholder="Masukkan Nomor KTP" name="no_ktp" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Masukkan Email" name="email" required>

            <button type="submit">Masuk</button>
            <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me#}
        </label> -->
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">
                Kembali
            </button>
            <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
    </form>
</div>

<div id="register" class="modal">
    <form class="modal-content animate" action="/action_page.php">
        <div class="imgcontainer">
                <span onclick="document.getElementById('register').style.display='none'" class="close"
                      title="Close Modal">&times;</span>
        </div>

        <div class="container">
            <label for="no_ktp"><b>Nomor KTP</b></label>
            <input type="text" placeholder="Masukkan Nomor KTP" name="no_ktp" required>

            <label for="name"><b>Nama</b></label>
            <input type="text" placeholder="Masukkan Nama" name="name" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Masukkan Email" name="email" required>

            <label for="nomor_telp"><b>Nomor Telepon</b></label>
            <input type="text" placeholder="Masukkan Nomor Telepon" name="nomor_telp" required>

            <label for="tgl_lahir"><b>Tanggal Lahir</b></label>
            <input type="date" name="dateofbirth" id="dateofbirth">

            <button type="submit">Masuk</button>
            <!-- <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('register').style.display='none'"
                    class="cancelbtn">
                Kembali
            </button>
            <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
    </form>
</div>

<script>
    // Get the modal
    var modal_for_login = document.getElementById('login');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal_for_login) {
            modal_for_login.style.display = "none";
        }
    }

    var modal_for_register = document.getElementById('register');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal_for_register) {
            modal_for_register.style.display = "none";
        }
    }
</script>
</body>
{% endblock %}
